syntax = "proto3";

{{ range $importPath, $_ := .Imports }}
{{ if gt (len $importPath) 0 -}}import "{{ $importPath }}";{{end}}
{{- end }}

package {{ .PackageName }};

{{ range .FileOptions -}}
{{ fmtOpt . }};
{{ end }}

{{ template "extensions" . }}

{{ range .Enums -}}
{{ template "enum" . }}
{{ end }}

{{ range .Messages }}
{{ template "message" . }}
{{ end }}

service {{.Name}} {
{{ range .ServiceOptions -}}
  {{ fmtOpt . }};
{{ end }}
  {{- range .Handlers}}
  rpc {{ .Name }}({{ .Request }}) returns({{ .Response }});
  {{- end}}
}


