{{ define "converter" }}

package {{ .Package }}

{{ template "imports" .Imports }}

{{ $repeated := .RepeatedConverters -}}
{{ $goPkg := .GoPackage }}

{{ range .Converters -}}

{{- $resname := .Resource -}}
{{- $timestampFields := .TimestampFields -}}

func {{ .Resource }}To{{ .Resource }}Msg({{ .Resource }} *{{ .SrcType }}) *{{ $goPkg }}.{{ .Resource }} {
	if {{ .Resource }} == nil {
		return nil
	}
  {{ range $name, $_ := .TimestampFields -}}
  {{ $name }} := timestamppb.New({{ $resname }}.{{ $name }})
  {{ end -}}
	return &{{ $goPkg }}.{{ .Resource }}{
    {{ range .Fields -}}
    {{ if setContains $timestampFields .Name -}}
    {{ .Name }}: {{ .Name }},
    {{ else if .IsInternal -}}
    {{ .Name }}: {{ .Name }}To{{ .Name }}Msg({{ $resname }}.{{ .Name }}),
    {{ else -}}
    {{ .Name }}: {{ $resname }}.{{ .Name }},
    {{ end -}}
    {{- end }}
	}
}

{{ if setContains $repeated .Resource -}}
func {{ .Resource }}sTo{{ .Resource }}sMsg({{ .Resource }} []*{{ .SrcType }}) []*{{ $goPkg }}.{{ .Resource }} {
	out := make([]*{{ $goPkg }}.{{ .Resource }}, len({{ .Resource }}))

	for i, v := range {{ .Resource }} {
    out[i] = {{ .Resource }}To{{ .Resource }}Msg(v)
	}

	return out
}
{{ end -}}

{{ end -}}

{{ end }}
