{{- define "extensions" -}}
{{ range .Extensions.File -}}
extend google.protobuf.FileOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{ end }}

{{ range .Extensions.Service }}
extend google.protobuf.ServiceOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{ end }}

{{- range .Extensions.Message }}
extend google.protobuf.MessageOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{ end }}

{{- range .Extensions.Field }}
extend google.protobuf.FieldOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{- end }}

{{- range .Extensions.OneOf }}
extend google.protobuf.OneofOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{- end }}
{{ end }}
