{{ define "protoFile" }}
syntax = "proto3";

{{ range $importPath, $_ := .Imports }}
{{ if gt (len $importPath) 0 -}}import "{{ $importPath }}";{{end}}
{{- end }}

package {{ .Package.GetName }};

{{ range .Options -}}
{{ fmtOpt . }};
{{ end }}

{{ template "extensions" . }}

{{ range .Enums -}}
{{ template "enum" . }}
{{ end }}

{{ template "message" . }}

{{ template "service" . }}

{{ end }}


