package handlers

{{ template "imports" .Imports }}


type {{ .ResourceName }}Service struct {
	Store *db.Store
}

func New{{ .ResourceName }}Service(s *db.Store) *{{ .ResourceName }}Service {
	return &{{ .ResourceName }}Service{Store: s}
}

{{ $resName := .ResourceName }}
{{ $genPkg := .GenPkg }}

{{ range .Handlers }}

func (s *{{ $resName }}Service) {{ .Name }}(
	ctx context.Context,
  req *connect.Request[{{ $genPkg }}.{{ .Request }}],
) (*connect.Response[{{ $genPkg }}.{{ .Response }}], error) {

  resource, err := s.Store.method(ctx, params)
  if errors.Is(err, sql.ErrNoRows) {
    return nil, connect.NewError(connect.CodeNotFound, err)
  } else {
    var sqliteErr *sqlite.Error
    if errors.As(err, &sqliteErr) {
      switch sqliteErr.Code() {
      case sqlite3.SQLITE_CONSTRAINT:
        //
      }
    }
  }

  return connect.NewResponse(&{{ $genPkg }}.{{ .Response }}{

	}), nil
}

{{ end }}
