{{ define "service" }}

{{ range .Services }}
service {{ serviceSuffix .Resource }} {
{{ range .Options -}}
  {{ fmtOpt . }};
{{ end }}
  {{- range .Handlers}}
  rpc {{ .Name }}({{ .Request }}) returns({{  .Response  }});
  {{- end}}
}
{{ end }}

{{ end }}
