syntax = "proto3";

package {{.PackageName}};

{{range $importPath, $_ := .Imports}}
{{if gt (len $importPath) 0}}import "{{ $importPath }}";{{end}}
{{end}}

{{range $msgName, $msgData := .Messages}}
message {{ $msgName }} {
{{- if $msgData.Reserved}}
reserved {{ join $msgData.Reserved ", "}};
{{end}}
{{- range $msgData.Fields}}
  {{.FieldType}} {{.Name}} = {{.FieldNr}}{{ if gt (len .Options) 0 }} [
    {{ range .Options }}{{ . }}{{"\n    "}}{{- end -}} 
  ]{{- end -}};
  {{- end }}
}
{{ end }}

service {{.Name}}Service {
  {{- range .Handlers}}
  rpc {{.}}({{.}}Request) returns({{.}}Response);
  {{- end}}
}


