syntax = "proto3";

{{ range $importPath, $_ := .Imports }}
{{ if gt (len $importPath) 0 -}}import "{{ $importPath }}";{{end}}
{{- end }}

package {{ .PackageName }};

{{ range .FileOptions }}
option {{ .Name }} = {{ .Value }};
{{- end }}

{{ range .OptionExtensions.File }}
extend google.protobuf.FileOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{ end }}

{{- range .OptionExtensions.Service }}
extend google.protobuf.ServiceOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{ end }}

{{- range .OptionExtensions.Message }}
extend google.protobuf.MessageOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{ end }}

{{- range .OptionExtensions.Field }}
extend google.protobuf.FieldOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{- end }}

{{- range .OptionExtensions.OneOf }}
extend google.protobuf.OneofOptions {
  {{ keyword .Optional .Repeated }}{{ .Type }} {{ .Name }} = {{ .FieldNr }};
}
{{- end }}

{{ range .Messages }}
message {{ .Name }} {
{{- if .Reserved}}
  reserved {{ joinInt .Reserved ", "}};
{{ end }}
{{- range .Options}}
  option {{ .Name }} = {{ .Value }};
{{ end }}
{{- range .OneOfs }}
  {{ range .Options}}
  option {{ .Name }} = {{ .Value }};
  {{ end }}
  oneof {{ .Name }} {
    {{ range $idx, $field := .Choices -}}
      {{ keyword .Optional .Repeated }}{{.ProtoType}} {{.Name}} = {{.FieldNr}}{{ if gt (len .Options) 0 }} [
    {{ range $idx, $opt := .Options }}{{ $opt }}{{ if lt $idx (dec (len $field.Options)) }}{{",\n    "}}{{end}}{{- end -}} 
  ]{{- end -}};
  {{ end -}}
  }
{{ end }}
{{- range $_, $field := .Fields}}
  {{ keyword .Optional .Repeated }}{{.ProtoType}} {{.Name}} = {{.FieldNr}}{{ if gt (len .Options) 0 }} [
    {{ range $idx, $opt := .Options }}{{ $opt }}{{ if lt $idx (dec (len $field.Options)) }}{{",\n    "}}{{end}}{{ end }} 
  ]{{- end -}};
  {{- end }}
}
{{ end }}

service {{.Name}}Service {
{{- range .ServiceOptions}}
  option {{ .Name }} = {{ .Value }};
{{ end }}
  {{- range .Handlers}}
  rpc {{ .Name }}({{ .Request }}) returns({{ .Response }});
  {{- end}}
}


