{{ define "singleSubquery" }}
  {{ range .Subqueries }}
    {{ if .NoReturn }}
    if err := s.Queries.{{ .Method }}(ctx, {{ if .ParentContext.MakeParamStruct }}params.{{ end }}{{ .ParamName }}); err != nil {
      return nil, fmt.Errorf("error with {{ .Method }}: %w", err)
    }
    {{ else }}
    {{ .VarName }}, err := s.Queries.{{ .Method }}(ctx, {{ if .ParentContext.MakeParamStruct }}params.{{ end }}{{ .ParamName }})
    if err != nil {
      return nil, fmt.Errorf("failed to get {{ .VarName }}: %w", err)
    }
  {{ end }}
  {{ end }}{{/* If .NoReturn */}}
{{ end }}
